body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #87cefa;
  color: white;
  padding: 15px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.galeria img {
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

footer {
  background-color: #ddd;
  padding: 10px;
}
